/* 기본 레이아웃 스타일 */
body {
    display: flex;
    min-height: 100vh;
    margin: 0;
}

#navbar {
    width: 200px; /* 너비 설정 */
    min-width: 200px; /* 최소 너비 설정 */
    background-color: #f4f4f4; /* 배경 색상 */
    padding: 20px; /* 여백 */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* 그림자 효과 */
}

.large-button {
    font-size: 1.8em; /* 버튼의 폰트 크기를 2배로 설정 */
    padding: 0.3em 1em; /* 버튼의 패딩을 설정 */
}

#navbar a {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.content {
    text-align: left;
}

/* 테이블 스타일 */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    border: 1px solid #ddd;
}

.styled-table thead tr {
    background-color: #f2f2f2;
    color: #333;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.styled-table th {
    background-color: #f2f2f2;
}

.styled-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table .fixed-width {
    width: 300px;
}

.styled-table .flexible-width {
    width: 300px; /* 이 부분을 조정하여 폭을 넓히기 */
}

.styled-table .store-keyword-width {
    width: 250px; /* store-keyword-width */
    min-width: 100px; /* 최소 폭 설정 */
    max-width: 250px; /* 최대 폭 설정 */
}

.styled-table .url-width {
    width: 300px; /* ShopURL과 SmartStoreURL의 폭 조정 */
    min-width: 100px; /* 최소 폭 설정 */
    max-width: 400px; /* 최대 폭 설정 */
    word-wrap: break-word; /* 긴 단어(링크) 줄바꿈 */
    overflow-wrap: break-word; /* 긴 단어(링크) 줄바꿈 */
    word-break: break-all; /* 단어 내에서 줄바꿈 허용 */
}


.styled-table .option-width {
    width: 120px; /* Option Name, Counts, Price, Barcode의 폭 조정 */
    min-width: 120px; /* 최소 폭 설정 */
    max-width: 120px; /* 최대 폭 설정 */
}


.styled-table .flexible-width a {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 반응형 테이블 스타일 */
@media (max-width: 600px) {
    .styled-table thead {
        display: none;
    }

    .styled-table, .styled-table tbody, .styled-table tr, .styled-table td {
        display: block;
        width: 100%;
    }

    .styled-table tr {
        margin-bottom: 15px;
    }

    .styled-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .styled-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

/* 프린트 스타일 */
@media print {
    body * {
        visibility: hidden;
    }
    .content, .content * {
        visibility: visible;
    }
    .content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: block;
    }
}

#reportTitle {
    text-align: left;
    margin-top: 20px;
}

#salesReport {
    text-align: left;
    margin-top: 20px;
}

.report-container {
    margin-top: 20px;
}
